body {
    background-image: url(bg2.gif);
    background-color: rgb(0, 0, 0);
    background-size: cover;
    overflow-x: hidden;
}

h1  {
    font-size: 40px;
    color: aquamarine;
}

.black{
    padding: 2px 0px;
    width: 95vw;
    border: 1px outset rgb(128, 128, 128);
    background-color: rgba(0, 0, 0, 0.361);
    text-align: left;
    margin: 10px 30px;
}

.grey{
    width: 900px;
    border: 0px outset rgb(152, 131, 255);
    background-color: rgba(0, 0, 0, 0.48);
    margin: 10px 30px;
}

@keyframes colorshift {
    from {color: rgb(249, 253, 255);}
    to {color: rgb(170, 182, 185);}
}

@font-face {
    font-family: 'NewRomantics';
    src: url(ROMANTIC.TTF);
}

.main-text {
    font-size: 70px;
    font-family: 'NewRomantics', sans-serif;
    margin: 220px 30px;
    animation-name: colorshift;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

.wormed2 {
    margin: 22px 30px 30px 30px;
    animation-name: colorshift;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

a {
    letter-spacing: 2px;
    font-family: 'NewRomantics', sans-serif;
    font-weight: 600;
    color: rgb(157, 157, 157);
    background-color: transparent;
    text-decoration: underline;
    font-size: 24px;
    margin: 10px 15px 10px 30px;
    transition: .3s ease all;
    display: inline-block;
}

a:hover {
    font-family: 'NewRomantics', sans-serif;
    color: rgb(255, 255, 255);
    transform: translateY(-3px);
    transition: .3s ease all;
}

.rightside{
    margin: 0px 30px;
    display: flex;
    transform: translateY(200px);
    top: 50%;
    bottom: 50%;
}

audio{
    display: flex;
}

p {
    font-weight: 600;
    color: rgb(101, 201, 255);
    background-color: transparent;
    font-size: 20px;
    margin: 10px 15px 10px 30px;
    transition: .3s ease all;
}

.top{
    font-size: 18px;
    letter-spacing: 10px;
    margin: 0px 0px -20px 30px;
}

.bottom{
    font-size: 18px;
    letter-spacing: 10px;
    margin: -24px 0px 10px 30px;
}

.sub{
    font-size: 15px;
    color: rgb(87, 173, 219);
    margin-top: -10px;
    margin-bottom: 20px;
    animation-name: colorshift;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

iframe{
    display: block;
    width: 30%;
    margin: 20px 20px 20px 30px;
}

.imageflex{
    display: flex;
}
